
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>BirthdayApp</h2>

    <p>Bu bir Web API projesidir.</p>
    <a href="https://www.youtube.com/watch?v=ZqOOUiqFtxA">Sadık Turan 'ın youtube videosundaki projeyi içerir.</a><br>
    @Html.ActionLink("Geliyor musun?", "DavetiyeFormu", null, new { @class = "btn tbn-primary" })

</div>